@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 98vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: rgb(34,193,195);
background: -moz-linear-gradient(126deg, rgba(34,193,195,1) 3%, rgba(96,189,113,1) 31%, rgba(152,233,102,1) 59%, rgba(85,221,138,1) 82%);
background: -webkit-linear-gradient(126deg, rgba(34,193,195,1) 3%, rgba(96,189,113,1) 31%, rgba(152,233,102,1) 59%, rgba(85,221,138,1) 82%);
background: linear-gradient(126deg, rgba(34,193,195,1) 3%, rgba(96,189,113,1) 31%, rgba(152,233,102,1) 59%, rgba(85,221,138,1) 82%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#55dd8a",GradientType=1);
}